/* Universal properties applying to all CSS style sheets*/
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

/* Properties applying to body section */
body {
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

/* Properties applying to header sections */
header {
    background-color: salmon;
}

header h1 {
    font-size: 175%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

nav ul {
    font-size: 12px;
    display: flex;
}

nav ul li {
    padding: 0px 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    text-decoration: underline;
}
/* Properties applying to main's container class */
.container {
    margin-top: 15px;
    display: flex;
    height: 100%;
}

.container p {
    margin-left: 50px;
    margin-top: 50px;
}

/* Properties applying to main's container class */
.row {
    flex: auto;
}

/* Properties applying to h2 header within about me section */
#about-me h2 {
    font-size: 200%;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    height: 100%;
}

/* Properties applying to h2 header within work section */
#work h2 {
    font-size: 200%;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
}

/* Properties applying to work-container class*/
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 100px;
}

/* Properties applying to the first element within work-item class*/
.work-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
    height: max-content;
    width: max-content
}

/* Hovering properties applying to the whole work-item class*/
.work-item:hover {
    background-color: wheat;
    transition: all 2s ease-in-out;
}

/* Properties applying to the whole work-item class*/
.work-item {
    border: 2.5px dashed salmon;
    background-color: salmon;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
    width: 40%;
}

/* Properties applying to the background class*/
.background {
    border: 2px solid wheat;
    background-color: wheat;
    position: absolute;
}

.work-item img{
    position: relative;
}

img {
    height: 150px;
}

/* This adds flex capability to the work container class, such that the items within the class adjusted when page is resized*/
@media screen and (max-width: 962px) {
    .work-container {
        flex-direction: column;
    }
}

/* Properties applying to h2 header within contact section */
#contact h2 {
    font-size: 200%;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
}

/* Properties applying to ul within contact section */
#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 100px;
}

/* Properties applying to the footer of the website */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    height: 350px;
}