
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.work-item:hover{
    background-color: black;
}
.work-item {
    border: 5px solid red;
    background-color: blue;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

img {
    height: 150px;
  
}

@media screen and (max-width: 768px) {
    .work-container {
        flex-direction: column;
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    height: 350px;
}